/****************************
GENERAL STYLES
****************************/

@light-grey: #F7F8F8;
@medium-grey: #E2E4E4;
@medium-green: rgb(90, 173, 85);
@dark-green: #2F4C27;

body {
    background: @light-grey;
}

.section-wrap {
    max-width: 1140px;
    margin: 0 auto;
    padding: .5% 4% 4%;
}

.h4 {
    margin-top: 39px;
}

.col {
    width: 49%;
    width: 566px;
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
}


/****************************
CURRENT ORDERS
****************************/

.current-orders {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.current-order-single {
    background: @medium-grey;
    margin: 8px 0;
    padding: 13px;
    width: 430px;
    max-width: 92%;
}

.cross {
    float: right;
    font-size: 2.6em;
    position: relative;
    top: -8px;
    cursor:pointer;
}


/****************************
ADD ORDER
****************************/

#add-order {
    background: @medium-green;
    color: #fff;
    border: 2px solid @dark-green;
    padding: 10px;
}
